p {
 color: rgb(34, 46, 99);
}

ul {
    width: 80%;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

li{
    padding: 7px;
}

.features {
    display: flex;
    text-decoration: overline;
    justify-content: center;
    align-items: center;
}

.featuresContainer{
    align-items: center;
    text-align: center;
    display: flex;
    padding: 4rem;
    border: 2px dotted darkblue;
    justify-content: center;
}
