.background{
    background-image: linear-gradient(to right, rgb(100, 161, 202), rgb(24, 55, 179));
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 700;
    padding: 1rem;
    color: rgb(1, 1, 41);
}