.card {
    width: 18rem;
    background-image: linear-gradient(to right, rgb(210, 228, 236), rgb(161, 181, 224));
}

.hazardous {
    border: 5px solid red;
}

.normal{
    border: 3px solid darkgray;
}

.dateContainer p {
    font-size: 11px;
    font-weight: 700;
    color: rgb(94, 120, 153);
}

.quantity{
    font-weight: 800;
    color: rgb(1, 1, 118);
}

.btnContainer{
    display: flex;
}