.card {
    width: 100%;
    background-image: linear-gradient(to right, rgb(210, 228, 236), rgb(161, 181, 224));
}

.hazardousCard {
    width: 100%;
    background-image: linear-gradient(to right, rgb(210, 228, 236), rgb(222, 141, 141));
}

.hazardousCard:hover {
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.8);
    border: 3px solid rgb(150, 2, 2);
}

.card:hover {
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.8);
    border: 3px solid rgb(0, 0, 108);
}

.hazardous {
    border: 5px solid red;
}

.normal {
    border: 3px solid darkgray;
}

.dateContainer p {
    font-size: 11px;
    font-weight: 700;
    color: rgb(94, 120, 153);
}

.quantity {
    font-weight: 800;
    color: rgb(1, 1, 118);
}

.qtyContainer {
    width: 25%;
    margin: 0.3rem;
}

.unitContainer {
    width: 25%;
    margin: 0.3rem;
}

.sizeContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.btnContainer {
    display: flex;
}
