.container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.product{
    margin: 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,.35);
    animation: animate-in 3s ease-out forwards;
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
