.sidebar {
    position: fixed;
    left: -10rem;
    top: 5rem;
    animation: slide-in 0.8s ease-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    border-left: 0.5px solid rgb(182, 182, 182);
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgb(93, 157, 200), rgb(26, 155, 131));
}

.sidebar.close {
    left: 0;
    animation: slide-out 0.8s ease-out forwards;
}

.sidebar ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 4rem 0;
    padding: 2rem 0;
    text-align: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.sidebar a:hover,
.sidebar a:active,
.sidebar a.active {
    font-weight: 800;
    color: #0a2c58;
    padding-bottom: 0.25rem;
}

.sidebar p {
    padding: 0.2rem;
}

@keyframes slide-in {
    from {
        left: -10rem;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -10rem;
        opacity: 0;
    }
}
