body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgb(222, 229, 233), rgb(152, 166, 225));
}

.centered {
  text-align: center;
  width: 70%;
}

.title {
  padding: 2rem;
  color: rgb(4, 4, 73);
  text-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
  
}

.dangerous{
  color: red;
}