.card {
    width: 100%;
    background-image: linear-gradient(to right, rgb(208, 227, 236), rgb(161, 173, 224));
    scroll-snap-align: start;
}

.hazardousCard {
    width: 100%;
    background-image: linear-gradient(to right, rgb(220, 233, 239), rgb(226, 153, 148));
    scroll-snap-align: start;
}

.hazardousCard:hover{
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.8);
    border: 3px solid rgb(150, 2, 2);
}

.card:hover {
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.8);
    border: 3px solid rgb(0, 0, 108);
    /* padding: 0.5rem; */
}

.cardBody {
    height: 17rem;
    width: 20rem;
}

.warehouseImg {
    /* height: 20rem; */
    width: 100%;
}

.dateContainer p {
    font-size: 11px;
    font-weight: 700;
    color: rgb(94, 120, 153);
}

.storage {
    font-weight: 800;
    color: rgb(1, 1, 118);
}
