.card {
    width: 18rem;
    background-image: linear-gradient(to right, rgb(208, 227, 236), rgb(161, 173, 224));
    flex-shrink: 0;
    scroll-snap-align: start;
    margin-right: 1rem;
}

.dateContainer p {
    font-size: 11px;
    font-weight: 700;
    color: rgb(94, 120, 153);
}

.storage{
    font-weight: 800;
    color: rgb(1, 1, 118);
}